.cover__link {
  display: block;
  position: relative;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  max-width: 1184px;
  box-sizing: border-box;
  margin: 92px auto 0;
  padding: 245px 0;
  color:#FFFFFF;
  text-decoration: none;
  text-align: center;
}

.cover__link:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
  transition: opacity 0.4s ease-in;
}

.cover__link:hover:before {
  opacity: 0.8;
}

@media (max-width: 1024px) {
  .cover__link {
    margin: 92px 0 0;
    padding: 195px 0;
  }
}

@media (max-width: 768px) {
  .cover__link {
    padding: 115px 0;
  }
}

@media (max-width: 620px) {
  .cover__link {
    margin: 90px 0 0;
    padding: 100px 0;
  }
}

@media (max-width: 520px) {
  .cover__link {
    margin: 66px 0 0;
    padding: 75px 0;
  }
}

@media (max-width: 420px) {
  .cover__link {
    padding: 50px 0;
  }
}

@media (max-width: 320px) {
  .cover__link {
    padding: 33px 0;
  }
}
