.cover__link {
  display: block;
  position: relative;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  max-width: 1184px;
  box-sizing: border-box;
  margin: 92px auto 0;
  padding: 245px 312px;
  color:#FFFFFF;
  text-decoration: none;
  text-align: center;
}

.cover__link:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
  transition: opacity 0.4s ease-in;
}

.cover__link:hover:before {
  opacity: 0.8;
}
