.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  max-width: 720px;
  margin: 0 auto;
}

@media (max-width: 720px) {
  .lead__title {
    font-size: 60px;
    line-height: 1.05;
  }
}

@media (max-width: 520px) {
  .lead__title {
    font-size: 48px;
    line-height: 1.07;
  }
}

@media (max-width: 420px) {
  .lead__title {
    font-size: 40px;
    line-height: 1.1;
  }
}
