.place__link {
  color: #FFFFFF;
  transition: opacity 0.4s ease-in;
  font-size: 18px;
  line-height: 1.63;
}

.place__link:hover {
  opacity: 0.8;
}

@media (max-width: 620px) {
  .place__link {
    font-size: 15px;
  }
}

@media (max-width: 380px) {
  .place__link {
    font-size: 18px;
    margin: 0 0 0 16px;
  }
}
