.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: repeat(2, auto);
  gap: 48px 40px;
}

.place:not(:first-child) {
  margin: 80px 0 0;
}

@media (max-width: 1024px) {
  .place {
    grid-template-columns: 440px 1fr;
    gap: 48px 32px;
  }
}

@media (max-width: 880px) {
  .place {
    grid-template-columns: 380px 1fr;
    gap: 48px 30px;
  }
}

@media (max-width: 768px) {
  .place {
    grid-template-columns: 340px 1fr;
    gap: 48px 28px;
  }
}

@media (max-width: 660px) {
  .place {
    grid-template-columns: 290px 1fr;
    gap: 44px 30px;
  }
}

@media (max-width: 565px) {
  .place {
    grid-template-columns: 330px;
    gap: 40px;
    margin: 0 calc((100% - 330px) / 2);
  }
}

@media (max-width: 380px) {
  .place {
    grid-template-columns: 320px;
    margin: 0 calc((100% - 320px) / 2);
    gap: 28px;
  }
}

@media (max-width: 768px) {
  .place:not(:first-child) {
    margin: 72px 0 0;
  }
}

@media (max-width: 565px) {
  .place:not(:first-child) {
    margin: 50px calc((100% - 330px) / 2);
  }
}

@media (max-width: 380px) {
  .place:not(:first-child) {
    margin: 50px calc((100% - 320px) / 2);
    gap: 28px;
  }
}
